@font-face {
  font-family: 'icones';
  src: url(../font/icones.ttf);
}

body {
    /* background-color: #1D232A; */
    background-color: #EDF2F7;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #ffffff;
}
